/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */

body{
    font-family:'Rubik Mono One', sans-serif;
}

h1 {
    text-align: center;
    margin-top: 1.5rem;
    color: rebeccapurple;
}

/* Utilities */

.container{
    max-width: 1000px;
    margin: 0 auto;
}

/* Main */

#game {
    height: 400px;
    width: 800px;
    border: 2px solid black;
    margin: 1.5rem auto;
}

/* Character */

#character {
    width: 30px;
    height: 70px;
    background-color: cornflowerblue;
    border: 1px solid black;
    border-radius: 12px;
    position: relative;
    top: 326px;
    left: 370px;
}

@keyframes jump {
    0%{top: 326px;}
    30%{top: 218px; height: 50px; background-color:rgb(10, 70, 182);}
    70%{top: 218px; height: 50px; background-color:rgb(10, 70, 182);}
    100%{top: 326px;}
}

.animate {
    animation: jump 300ms linear;
}