/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */

body{
    font-family:'Rubik Mono One', sans-serif;
}

h1 {
    text-align: center;
    margin-top: 1.5rem;
    color: rebeccapurple;
}

/* Utilities */

.container{
    max-width: 1000px;
    margin: 0 auto;
}

/* Main */

#game {
    height: 400px;
    width: 800px;
    border: 2px solid black;
    margin: 1.5rem auto;
    background: linear-gradient( rgb(58, 179, 235) 0% 60%,  rgba(93, 190, 93, 0.74) 70% );
}

/* Character */

#character {
    width: 30px;
    height: 70px;
    background-color: cornflowerblue;
    border: 1px solid black;
    border-radius: 12px;
    position: relative;
    top: 296px;
    left: 370px;
}

@keyframes jump {
    0%{top: 296px;}
    30%{top: 180px; height: 30px; background-color:rgb(10, 70, 182);}
    70%{top: 218px; height: 50px; background-color:rgb(10, 70, 182);}
    100%{top: 296px; transform: rotate(-360deg);}
}

#character.animate {
    animation: jump .4s ease-in  ;
}

/* Block */

#block {
    position: relative;
    width: 15px;
    height: 20px;
    background-color: crimson;
    border: 1px solid black;
    top: 376px;
    left: 781px;
    animation: block 2s infinite linear;
 }

#block-2 {
    position: relative;
    width: 10px;
    height: 10px;
    border: 1px solid black;
    border-radius: 50%;
    top: 366px;
    left: 786px;
    animation: block2 infinite ease-in-out alternate;
   
 }
@keyframes block {
    0% {left: 781px;}
    100% {left: 0px;}
}

@keyframes block2 {
    0% {left: 786px;}
    100% {left: 0px;}
}

